openapi: 3.1.0
info:
  title: Amazon Keyspaces API
  description: The Amazon Keyspaces API provides programmatic access to manage Keyspaces resources.
  version: '2024-01-01'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
servers:
- url: https://cassandra.us-east-1.amazonaws.com
  description: Amazon Keyspaces endpoint
security:
- sigv4: []
tags:
- name: Keyspaces
  description: Cassandra keyspace management
- name: Tables
  description: Cassandra table management
paths:
  /keyspaces:
    post:
      operationId: CreateKeyspace
      summary: Amazon Keyspaces Create Keyspace
      description: Creates a new keyspace.
      tags:
      - Keyspaces
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListKeyspaces
      summary: Amazon Keyspaces List Keyspaces
      description: Returns a list of keyspaces.
      tags:
      - Keyspaces
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /keyspaces/{keyspaceName}:
    get:
      operationId: GetKeyspace
      summary: Amazon Keyspaces Get Keyspace
      description: Returns the name and the Amazon Resource Name (ARN) of a keyspace.
      tags:
      - Keyspaces
      parameters:
      - name: keyspaceName
        in: path
        required: true
        schema:
          type: string
        description: The name of the keyspace.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: DeleteKeyspace
      summary: Amazon Keyspaces Delete Keyspace
      description: The DeleteKeyspace operation allows you to delete a keyspace and all of its tables.
      tags:
      - Keyspaces
      parameters:
      - name: keyspaceName
        in: path
        required: true
        schema:
          type: string
        description: The name of the keyspace.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /keyspaces/{keyspaceName}/tables:
    post:
      operationId: CreateTable
      summary: Amazon Keyspaces Create Table
      description: The CreateTable operation adds a new table to the specified keyspace.
      tags:
      - Tables
      parameters:
      - name: keyspaceName
        in: path
        required: true
        schema:
          type: string
        description: The keyspace name.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListTables
      summary: Amazon Keyspaces List Tables
      description: Returns a list of tables for a specified keyspace.
      tags:
      - Tables
      parameters:
      - name: keyspaceName
        in: path
        required: true
        schema:
          type: string
        description: The keyspace name.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /keyspaces/{keyspaceName}/tables/{tableName}:
    get:
      operationId: GetTable
      summary: Amazon Keyspaces Get Table
      description: Returns information about the table.
      tags:
      - Tables
      parameters:
      - name: keyspaceName
        in: path
        required: true
        schema:
          type: string
        description: The keyspace name.
      - name: tableName
        in: path
        required: true
        schema:
          type: string
        description: The table name.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: UpdateTable
      summary: Amazon Keyspaces Update Table
      description: Adds new columns to the table or updates one of the table's existing settings.
      tags:
      - Tables
      parameters:
      - name: keyspaceName
        in: path
        required: true
        schema:
          type: string
        description: The keyspace name.
      - name: tableName
        in: path
        required: true
        schema:
          type: string
        description: The table name.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: DeleteTable
      summary: Amazon Keyspaces Delete Table
      description: The DeleteTable operation deletes a table and all of its data.
      tags:
      - Tables
      parameters:
      - name: keyspaceName
        in: path
        required: true
        schema:
          type: string
        description: The keyspace name.
      - name: tableName
        in: path
        required: true
        schema:
          type: string
        description: The table name.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /keyspaces/{keyspaceName}/tables/{tableName}/restore:
    post:
      operationId: RestoreTable
      summary: Amazon Keyspaces Restore Table
      description: Restores the table to the specified point in time within the earliest_restorable_timestamp and current time.
      tags:
      - Tables
      parameters:
      - name: keyspaceName
        in: path
        required: true
        schema:
          type: string
        description: The keyspace name.
      - name: tableName
        in: path
        required: true
        schema:
          type: string
        description: The table name.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication
  schemas:
    Keyspace:
      type: object
      description: An Amazon Keyspaces keyspace (Cassandra database).
      properties:
        keyspaceName:
          type: string
          description: The name of the keyspace.
          example: my_keyspace
        resourceArn:
          type: string
          description: The Amazon Resource Name (ARN) of the keyspace.
          example: arn:aws:cassandra:us-east-1:123456789012:/keyspace/my_keyspace
        replicationStrategy:
          type: string
          description: The replication strategy of the keyspace.
          example: SINGLE_REGION
    Table:
      type: object
      description: An Amazon Keyspaces table.
      properties:
        keyspaceName:
          type: string
          description: The name of the keyspace that the table is associated with.
          example: my_keyspace
        tableName:
          type: string
          description: The name of the table.
          example: my_table
        resourceArn:
          type: string
          description: The Amazon Resource Name (ARN) of the table.
          example: arn:aws:cassandra:us-east-1:123456789012:/keyspace/my_keyspace/table/my_table
        status:
          type: string
          description: The current status of the table.
          example: ACTIVE
          enum:
          - ACTIVE
          - CREATING
          - UPDATING
          - DELETING
          - DELETED
          - RESTORING
          - INACCESSIBLE_ENCRYPTION_CREDENTIALS
        creationTimestamp:
          type: string
          description: The timestamp of when the table was created.
          format: date-time
