openapi: 3.2.0
info:
  title: Amazon Keyspaces API
  description: The Amazon Keyspaces API provides programmatic access to manage Keyspaces resources.
  version: '2024-01-01'
  contact:
    name: AWS Support
    url: https://aws.amazon.com/premiumsupport/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://a0.awsstatic.com/libra-css/images/logos/aws_logo_smile_1200x630.png
servers:
- url: https://cassandra.us-east-1.amazonaws.com
  description: Amazon Keyspaces endpoint
security:
- sigv4: []
tags:
- name: Keyspaces
  description: Cassandra keyspace management
paths:
  /keyspaces:
    post:
      operationId: CreateKeyspace
      summary: Amazon Keyspaces Create Keyspace
      description: Creates a new keyspace.
      tags:
      - Keyspaces
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: ListKeyspaces
      summary: Amazon Keyspaces List Keyspaces
      description: Returns a list of keyspaces.
      tags:
      - Keyspaces
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /keyspaces/{keyspaceName}:
    get:
      operationId: GetKeyspace
      summary: Amazon Keyspaces Get Keyspace
      description: Returns the name and the Amazon Resource Name (ARN) of a keyspace.
      tags:
      - Keyspaces
      parameters:
      - name: keyspaceName
        in: path
        required: true
        schema:
          type: string
        description: The name of the keyspace.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: DeleteKeyspace
      summary: Amazon Keyspaces Delete Keyspace
      description: The DeleteKeyspace operation allows you to delete a keyspace and all of its tables.
      tags:
      - Keyspaces
      parameters:
      - name: keyspaceName
        in: path
        required: true
        schema:
          type: string
        description: The name of the keyspace.
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '403':
          description: Access denied
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    sigv4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication
